.c-flashcards {
  display: flex;
  // border: 1px solid black;
  justify-content: center;
  // align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  background-color: #d8ddef;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
