.c-flashcard {
  //   background-color: black;
  // height: 250px;
  transition: all 1s ease-in-out;
  // background-color: black;
  font-family: 'Poppins', sans-serif;

  &__front,
  &__back {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #dce1e9;
    border: 1px solid #a0a4b8;
    color: #0089e4;

    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
    &.hidden {
      display: none;
    }
  }

  &__front {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;

    &__question {
      font-size: 1.5em;
      //   inline-size: 230px;
      overflow-wrap: break-word;
    }

    &__options {
      //   align-self: center;
      display: flex;
      flex-direction: column;

      &__option {
        margin: 0.5rem;
        cursor: pointer;
        float: left;
        // display: inline-block;
        text-align: left;
        inline-size: 200px;
        border: none;
        background: none;
        overflow-wrap: break-word;
        color: #4381aa;
        transition: all 0.2s;
        &:hover {
          color: #66c3ff;
        }
      }
    }
  }

  &__back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    &__answer {
      font-size: 1.5rem;
      //   inline-size: 230px;
      overflow-wrap: break-word;
    }

    &__options {
      &__back-btn {
        // justify-self: flex-end;
        // align-self: flex-start;
        margin: 0.5rem;
        cursor: pointer;
        display: inline-block;
        border: none;
        background: none;
        color: rgb(82, 82, 82);
      }
      &__delete-btn {
        // justify-self: flex-end;
        // align-self: flex-start;
        margin: 0.5rem;
        cursor: pointer;
        display: inline-block;
        border: none;
        background: none;
        color: rgb(82, 82, 82);
      }
    }
  }
  &__add-new {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dce1e9;
    border: 1px solid #a0a4b8;
    color: #0089e4;
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: rgb(185, 227, 255);
    }
  }
}
